<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>department</title>
</head>
<body>
	
	<th:block th:insert="Header.html"></th:block>
	
	<div class="container-fluid">
			<div class = "card-header text-center bg-info p-2">
				<h4>Student Form</h4>
			</div>
			<div class = "card-body"><br>
				
				<form action = "/student" method = "post">
				
				<div class="row p-2">
				<div class="col-4">Full Name</div>
					
				<div class="col-6">
					<input type="text" name = "name" class="form-control">
				</div>
					
				</div>
				
				<div class="row p-2">
				<div class="col-4">Roll No.</div>
					
				<div class="col-6">
					<input type="text" name = "roll" class="form-control">
				</div>
					
				</div>
				
				<div class="row p-2">
				<div class="col-4">Faculty</div>
					
				<div class="col-6">
					<select name = "department" class="form-control">
						<option value = "">Select</option>
						<option th:each = "d: ${dList}" th:value="${d.id}">[[${d.dept_name}]]</option>
					</select>
				</div>
					
				</div>
				
				<div class="row p-2">
				<div class="col-4">Email</div>
					
				<div class="col-6">
					<input type="text" name = "email" class="form-control">
				</div>
				</div>
				
				<div class="row p-2">
				<div class="col-4">Phone</div>
					
				<div class="col-6">
					<input type="text" name = "phone" class="form-control">
				</div>
				</div>
				
				<div class="row p-2">
				<div class="col-4">Date of Birth</div>
					
				<div class="col-6">
					<input type="date" name = "dob" class="form-control">
				</div>
					
				</div>
				
				<div class = "row p-2">
						<div class = "col-4">City</div>
						<div class = "col-6">
							<input type = "text" name = "address.city" class = "form-control">
						</div>
					</div>
					
					<div class = "row p-2">
						<div class = "col-4">Province</div>
						<div class = "col-6">
							<select name="address.province" class="form-control">
								<option value="">Select</option>
								<option value="Koshi">Koshi</option>
								<option value="Madhesh">Madhesh</option>
								<option value="Bagmati">Bagmati</option>
								<option value="Gandaki">Gandaki</option>
								<option value="Lumbini">Lumbini</option>
								<option value="Karnali">Karnali</option>
								<option value="Sudurpaschim">Sudurpaschim</option>
							</select>
						</div>
					</div>
					
					<div class = "row p-2">
						<div class = "col-4">Zip Code</div>
						<div class = "col-6">
							<input type = "text" name = "address.zipcode" class = "form-control">
						</div>
					</div>
				
				<div class="row p-2">
				<div class="col-4"></div>
					
				<div class="col-6">
					<input type="submit" value="Add" class="btn btn-success">
				</div>
					
				</div>
				</form>
				
			</div>
			<div class = "card-footer text-center bg-warning p-1">
				<h6>©copyright2023@BroadwayInfosys</h6>
			</div>
		</div>
	</div>
</body>
</html>